.portfolio {
  padding-top: 200px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .titleBox {
    width: 50%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .title {
      text-align: center;
      font-family: Montserrat;
      font-size: 64px;
      font-weight: 600;
      line-height: 77px;
      color: #282828;
    }
    .text {
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      text-align: center;
    }
  }

  .photosBox {
    width: 81.25%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 140px;
    .name {
      font-family: Montserrat;
      font-size: 40px;
      font-weight: 600;
      line-height: 48px;
      text-align: left;
    }
    .photos {
      width: 100%;
      height: 600px;
      margin-bottom: 70px;
      .photoLeft {
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        position: relative;
        z-index: 1;
        .photoRight {
          height: 100%;
          border-radius: 10px;
          position: relative;
          overflow: hidden;
          z-index: 2;
          .photoTooth {
            width: 1580px;
            height: 160%;
            position: static;
            background-position: center -220px;
            background-size: cover;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            z-index: 2;
            transition: all 0.1s ease;
          }
        }
        .circle {
          width: 126px;
          height: 126px;
          border-radius: 50%;
          background-color: #f9f9f9;
          position: absolute;
          z-index: 4;
          top: 40%;
          left: 46.5%;
          cursor: grab;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          .circleText {
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 600;
            line-height: 11px;
            letter-spacing: 0.04754236340522766px;
            text-align: left;
          }
        }
        .line {
          width: 10px;
          height: 100%;
          position: absolute;
          z-index: 3;
          top: 0;
          background-color: #f9f9f9;
        }
      }
    }
  }
}

@media (max-width: 1541px) {
  .portfolio {
    .photosBox {
      .photos {
        .photoLeft {
          .photoRight {
            .photoTooth {
              // width: 1580px;
              width: 1300px;
              height: 100%;
              position: static;
              background-position: center -120px;
              background-size: cover;
              z-index: 2;
              transition: all 0.1s ease;
            }
          }
          .circle {
            width: 126px;
            height: 126px;
            border-radius: 50%;
            background-color: #f9f9f9;
            position: absolute;
            z-index: 4;
            top: 38%;
            // left: 46.5%;
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .portfolio {
    .photosBox {
      .photos {
        .photoLeft {
          .photoRight {
            .photoTooth {
              // width: 1580px;
              width: 1200px;
              height: 100%;
              position: static;
              background-position: center -100px;
              background-size: cover;
              z-index: 2;
              transition: all 0.1s ease;
            }
          }
          .circle {
            width: 126px;
            height: 126px;
            border-radius: 50%;
            background-color: #f9f9f9;
            position: absolute;
            z-index: 4;
            top: 38%;
            // left: 46.5%;
          }
        }
      }
    }
  }
}

@media (max-width: 1231px) {
  .portfolio {
    .photosBox {
      .photos {
        .photoLeft {
          .photoRight {
            .photoTooth {
              // width: 1580px;
              width: 1000px;
              height: 100%;
              position: static;
              background-position: center -40px;
              background-size: cover;
              z-index: 2;
              transition: all 0.1s ease;
            }
          }
          .circle {
            width: 126px;
            height: 126px;
            border-radius: 50%;
            background-color: #f9f9f9;
            position: absolute;
            z-index: 4;
            top: 38%;
            // left: 46.5%;
          }
        }
      }
    }
  }
}

@media (max-width: 1101px) {
  .portfolio {
    .photosBox {
      .photos {
        .photoLeft {
          .photoRight {
            .photoTooth {
              // width: 1580px;
              width: 890px;
              height: 100%;
              position: static;
              background-position: center -0px;
              background-size: cover;
              z-index: 2;
              transition: all 0.1s ease;
            }
          }
          .circle {
            width: 126px;
            height: 126px;
            border-radius: 50%;
            background-color: #f9f9f9;
            position: absolute;
            z-index: 4;
            top: 38%;
            // left: 46.5%;
          }
        }
      }
    }
  }
}

@media (max-width: 1025px) {
  .portfolio {
    padding-top: 128px;
    .titleBox {
      height: 100px;
      .title {
        font-size: 50px;
      }
      .text {
        font-size: 20px;
      }
    }
    .photosBox {
      .photos {
        .photoLeft {
          .photoRight {
            .photoTooth {
              // width: 1580px;
              width: 890px;
              height: 100%;
              position: static;
              background-position: center -0px;
              background-size: cover;
              z-index: 2;
              transition: all 0.1s ease;
            }
          }
          .circle {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: #f9f9f9;
            position: absolute;
            z-index: 4;
            top: 38%;
            // left: 46.5%;
            .circleText {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 891px) {
  .portfolio {
    .photosBox {
      .photos {
        .photoLeft {
          .photoRight {
            .photoTooth {
              // width: 1580px;
              width: 750px;
              height: 100%;
              position: static;
              background-position: center -0px;
              background-size: cover;
              z-index: 2;
              transition: all 0.1s ease;
            }
          }
          .circle {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: #f9f9f9;
            position: absolute;
            z-index: 4;
            top: 38%;
            // left: 46.5%;
          }
        }
      }
    }
  }
}

@media (max-width: 821px) {
  .portfolio {
    .photosBox {
      .photos {
        .photoLeft {
          .photoRight {
            .photoTooth {
              // width: 1580px;
              width: 710px;
              height: 100%;
              position: static;
              background-position: center -0px;
              background-size: cover;
              z-index: 2;
              transition: all 0.1s ease;
            }
          }
          .circle {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: #f9f9f9;
            position: absolute;
            z-index: 4;
            top: 38%;
            // left: 46.5%;
          }
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .portfolio {
    padding-top: 150px;
    .titleBox {
      height: 100px;
      width: 91.4%;
      .title {
        font-size: 40px;
        line-height: 48px;
      }
      .text {
        font-size: 18px;
        line-height: 21.94px;
      }
    }
    .photosBox {
      width: 91.4%;
      margin-top: 30px;
      .name {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
      }
      .photos {
        height: 400px;
        .photoLeft {
          .photoRight {
            .photoTooth {
              // width: 1580px;
              width: 710px;
              height: 100%;
              position: static;
              background-position: center -40px;
              background-size: cover;
              z-index: 2;
              transition: all 0.1s ease;
            }
          }
          .circle {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: #f9f9f9;
            position: absolute;
            z-index: 4;
            top: 38%;
            // left: 46.5%;
          }
        }
      }
    }
  }
}

@media (max-width: 701px) {
  .portfolio {
    .photosBox {
      .photos {
        .photoLeft {
          .photoRight {
            .photoTooth {
              // width: 1580px;
              width: 690px;
              height: 100%;
              position: static;
              background-position: center -0px;
              background-size: cover;
              z-index: 2;
              transition: all 0.1s ease;
            }
          }
          .circle {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: #f9f9f9;
            position: absolute;
            z-index: 4;
            top: 38%;
            // left: 46.5%;
          }
        }
      }
    }
  }
}

@media (max-width: 652px) {
  .portfolio {
    .photosBox {
      .photos {
        .photoLeft {
          .photoRight {
            .photoTooth {
              // width: 1580px;
              width: 670px;
              height: 100%;
              position: static;
              background-position: center 0px;
              background-size: cover;
              z-index: 2;
              transition: all 0.1s ease;
            }
          }
          .circle {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: #f9f9f9;
            position: absolute;
            z-index: 4;
            top: 38%;
            // left: 46.5%;
          }
        }
      }
    }
  }
}

@media (max-width: 602px) {
  .portfolio {
    .photosBox {
      .photos {
        .photoLeft {
          .photoRight {
            .photoTooth {
              // width: 1580px;
              width: 596px;
              height: 100%;
              position: static;
              background-position: center 0px;
              background-size: cover;
              z-index: 2;
              transition: all 0.1s ease;
            }
          }
          .circle {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: #f9f9f9;
            position: absolute;
            z-index: 4;
            top: 40%;
            left: 44.5%;
          }
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .portfolio {
    .photosBox {
      .photos {
        .photoLeft {
          .photoRight {
            .photoTooth {
              // width: 1580px;
              width: 515px;
              height: 100%;
              position: static;
              background-position: center 0px;
              background-size: cover;
              z-index: 2;
              transition: all 0.1s ease;
            }
          }
          .circle {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: #f9f9f9;
            position: absolute;
            z-index: 4;
            top: 40%;
            left: 44.5%;
          }
          .line {
            width: 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 482px) {
  .portfolio {
    .photosBox {
      .photos {
        height: 300px;
        .photoLeft {
          .photoRight {
            .photoTooth {
              width: 477px;
              height: 100%;
              position: static;
              background-position: center -10px;
              background-size: cover;
              z-index: 2;
              transition: all 0.1s ease;
            }
          }
          .circle {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: #f9f9f9;
            position: absolute;
            z-index: 4;
            top: 40%;
            left: 44.5%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 426px) {
  .portfolio {
    .titleBox {
      height: 130px;
      width: 91.4%;
      .title {
        font-size: 40px;
        line-height: 48px;
      }
      .text {
        font-size: 18px;
        line-height: 21.94px;
      }
    }
    .photosBox {
      width: 91.4%;
      height: 255px;
      .name {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
      }

      .photos {
        .photoLeft {
          .photoRight {
            .photoTooth {
              width: 420px;
              height: 100%;
              position: static;
              background-position: center -60px;
              background-size: cover;
              z-index: 2;
              transition: all 0.1s ease;
            }
          }
          .circle {
            width: 61px;
            height: 61px;
            border-radius: 50%;
            background-color: #f9f9f9;
            position: absolute;
            z-index: 4;
            top: 36%;
            left: 42.5%;
            .circleText {
              font-size: 8px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .portfolio {
    .photosBox {
      height: 255px;
      .photos {
        width: 100%;
        .photoLeft {
          .photoRight {
            .photoTooth {
              width: 365px;
              height: 100%;
              position: static;
              background-position: center -40px;
              background-size: cover;
              z-index: 2;
              transition: all 0.1s ease;
            }
          }
          .circle {
            width: 61px;
            height: 61px;
            border-radius: 50%;
            background-color: #f9f9f9;
            position: absolute;
            z-index: 4;
            top: 36%;
            left: 42.5%;
            .circleText {
              font-size: 8px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 341px) {
  .portfolio {
    .photosBox {
      height: 255px;
      .photos {
        width: 100%;
        .photoLeft {
          .photoRight {
            .photoTooth {
              width: 336px;
              height: 100%;
              position: static;
              background-position: center -30px;
              background-size: cover;
              z-index: 2;
              transition: all 0.1s ease;
            }
          }
          .circle {
            width: 61px;
            height: 61px;
            border-radius: 50%;
            background-color: #f9f9f9;
            position: absolute;
            z-index: 4;
            top: 36%;
            left: 42.5%;
            .circleText {
              font-size: 8px;
            }
          }
        }
      }
    }
  }
}
