.eighthBlock {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 200px;
  .container {
    width: 94.4%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .title {
      text-align: center;
      width: 500px;
      font-family: Montserrat;
      font-size: 48px;
      font-weight: 600;
      line-height: 58px;
      color: #282828;
    }
    .form {
      width: 100%;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    .inputs {
      width: 100%;
      height: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .first {
        width: 48%;
        height: 100px;
        .text {
          font-family: Montserrat;
          font-size: 28px;
          font-weight: 500;
          line-height: 34px;
          color: #2c3b50;
          margin-bottom: 20px;
        }
        .name {
          width: 100%;
          height: 40px;
          font-family: Montserrat;
          font-size: 28px;
          font-weight: 500;
          line-height: 34px;
          color: #b7b7b7;
          border-bottom: 3px solid #b7b7b7;
          transition: all ease-in-out 0.4s;
        }
        .name:focus {
          color: #282828;
          border-bottom: 3px solid #282828;
        }
      }
      .second {
        width: 48%;
        height: 100px;
        .numberBox {
          width: auto;
          height: 54px;
          display: flex;
          flex-direction: row;
          align-items: center;
          // justify-content: space-between;
          .flagBox {
            width: 70px;
            height: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            transition: all 0.4s ease 0s;
            .flag {
              width: 50px;
              height: 35px;
              background-position: center;
              background-size: cover;
              border: 3px solid #282828;
            }
            .arrow {
              margin-top: 6px;
              width: 22px;
              height: 22px;
              background: url("../assets/img/down.svg");
              background-position: center;
              background-size: cover;
            }
            .contFlag {
              display: none;
            }
          }
          .flagBoxActive {
            margin-top: 160px;
            width: 260px;
            height: 420%;
            position: relative;
            z-index: 5;
            // border: 3px solid #305381;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-color: #e2e4ec;
            transition: all 0.4s ease 0s;
            border-radius: 5px;
            .flag {
              width: 50px;
              height: 35px;
              background: url("../assets/img/Flag.svg");
              background-position: center;
              background-size: cover;
              display: none;
            }
            .contFlag {
              width: 100%;
              height: 40px;
              padding-left: 10px;
              padding-right: 10px;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              font-family: Montserrat;
              font-size: 24px;
              font-weight: 600;
              color: #2c3b50;
              text-align: left;
              transition: all 0.4s ease 0s;
              .ukr {
                width: 50px;
                height: 35px;
                background: url("../assets/img/Flag.svg");
                background-position: center;
                background-size: cover;
              }
              .slov {
                width: 50px;
                height: 35px;
                background: url("../8Block/flags/Slovakia.svg");
                background-position: center;
                background-size: cover;
              }
              .chech {
                width: 50px;
                height: 35px;
                background: url("../8Block/flags/Czech.svg");
                background-position: center;
                background-size: cover;
              }
              .hug {
                width: 50px;
                height: 35px;
                background: url("../8Block/flags/Hungary.svg");
                background-position: center;
                background-size: cover;
              }
            }
            .contFlag:hover {
              // border: 2px solid #305381;
              box-shadow: 0px 0px 10px #4475b6;
            }
            .arrow {
              margin-top: 6px;
              width: 22px;
              height: 22px;
              background: url("../assets/img/down.svg");
              background-position: center;
              background-size: cover;
              transform: rotate(180deg);
            }
          }
        }
        .text {
          font-family: Montserrat;
          font-size: 28px;
          font-weight: 500;
          line-height: 34px;
          color: #2c3b50;
          margin-bottom: 20px;
        }
        .number {
          width: 100%;
          height: 40px;
          font-family: Montserrat;
          font-size: 28px;
          font-weight: 500;
          line-height: 34px;
          color: #b7b7b7;
          border-bottom: 3px solid #b7b7b7;
          transition: all ease-in-out 0.4s;
        }
        .number:focus {
          color: #282828;
          border-bottom: 3px solid #282828;
        }
      }
    }
    .btn {
      width: 290px;
      height: 65px;
      border-radius: 5px;

      font-family: Montserrat;
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      background-color: #305381;
      color: #f9f9f9;
    }
  }
}

@media (max-width: 1440px) {
  .eighthBlock {
    height: 387px;
    margin-bottom: 140px;
  }
}

@media (max-width: 1024px) {
  .eighthBlock {
    margin-bottom: 100px;
    .container {
      width: 94.4%;
      height: 400px;
      .title {
        font-size: 40px;
        line-height: 50px;
      }
      .inputs {
        height: 50px;
        .first {
          .text {
            font-size: 20px;
          }
          .name {
            font-size: 20px;
          }
        }
        .second {
          .text {
            font-size: 20px;
          }
          .number {
            font-size: 20px;
          }
          .numberBox {
            .flagBoxActive {
              width: 220px;
              .contFlag {
                font-size: 20px;
              }
            }
          }
        }
      }
      .btn {
        width: 290px;
        height: 55px;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 769px) {
  .eighthBlock {
    height: 417px;
    margin-bottom: 40px;
    .container {
      width: 91.4%;
      height: 417px;
      .title {
        width: 303px;
        font-size: 28px;
        line-height: 33.6px;
      }
      .form {
        height: 301px;
      }
      .inputs {
        width: 100%;
        height: 193px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .first {
          width: 100%;
          .text {
            font-size: 20px;
            margin-bottom: 0px;
          }
          .name {
            font-size: 20px;
            margin-bottom: 0px;
          }
        }
        .second {
          width: 100%;
          .text {
            font-size: 20px;
            margin-bottom: 20px;
          }
          .number {
            font-size: 20px;
            margin-bottom: 0px;
          }
        }
      }
      .btn {
        width: 100%;
        height: 60px;
        font-size: 22px;
      }
    }
  }
}

@media (max-width: 426px) {
  .eighthBlock {
    height: 417px;
    margin-bottom: 40px;
    .container {
      width: 91.4%;
      height: 417px;
      .title {
        width: 303px;
        font-size: 28px;
        line-height: 33.6px;
      }
      .inputs {
        width: 100%;
        height: 193px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .first {
          width: 100%;
          .text {
            font-size: 20px;
            margin-bottom: 0px;
          }
          .name {
            font-size: 20px;
            margin-bottom: 0px;
          }
        }
        .second {
          width: 100%;
          .text {
            font-size: 20px;
            margin-bottom: 20px;
          }
          .number {
            font-size: 20px;
            margin-bottom: 0px;
          }
        }
      }
      .btn {
        width: 100%;
        height: 60px;
        font-size: 22px;
      }
    }
  }
}

@media (max-width: 341px) {
  .eighthBlock {
    height: 417px;
    margin-bottom: 40px;
    .container {
      width: 91.4%;
      height: 417px;
      .title {
        width: 200px;
        font-size: 28px;
        line-height: 33.6px;
      }
    }
  }
}
